<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlappyBird.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84F312A71E79323900AD1C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F312C11E79323A00AD1C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F312CC1E79323A00AD1C0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
